# AWS / LocalStack Configuration
LOCALSTACK_ENDPOINT=http://localhost:4566
USE_LOCALSTACK=True
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# LocalStack Auth Token (If using Pro/Trial)
# LOCALSTACK_AUTH_TOKEN=your_token_here

# AWS Resource Configuration
S3_BUCKET_NAME=volcano-classifier-models
DYNAMODB_TABLE_NAME=Volcano_Dataset
SNS_TOPIC_NAME=Volcano_Alerts
SQS_QUEUE_NAME=Volcano_Inference_Queue

# Alert Notification Configuration (Optional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# App Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
DEBUG=True